html,
body {
    height: 100%;
}
#wrapper {
    background-color: #2A4E6E;
}
#header {
    width: 100%;
}

nav {
    width:100%;
    background-color: #0F414F;
    border-style: groove;
    border-spacing: 2px;
    overflow: hidden;
}
main {
    width: 100%;
    background-color: #2A4E6E;
    
}
#sidebar {
   
    color: #787747;
    background-color: #0F414F;
    margin: 10px 10px;
    border-style: groove;
    border-spacing: 2px;
    width: 100%;
    text-align: center;
}
