html, body 
{
    height: 100%;
}
#wrapper
{
    background-color: #2A4E6E;
    border-style: outset;
}
#container
{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;

}
#header
{
    width: 100%;
   
    
}
a:link, a:visited
{
    color: #D4BB6A;
}

a:hover
{
text-decoration: underline;
color: #D2D284;
background-color: #507D7F;
font-weight: bold;
}
a:active
{
    color: red;
}
nav
{
    width: 200px;
    float: left;
    background-color: #0F414F;
    border-style: groove;
    border-spacing: 2px;
    overflow: hidden;
}
nav ul li a
{
  display: block;
  background-color: #0F414F;
  padding-left: 10px;
}
nav ul li a.active
{
    color: #D2D284;
    background-color: #507D7F;
}
ul
{
    list-style: none;
    display: block;
    padding: 3px;
}
/*#b1, #b2, #b3, #b4
{
    display: block;
    height: 20px;
    width: 20px;
}
*/
#me1
{
    background-size:cover;
}
#sidebar
{
    float: right;
    color: black;
    background-color: #3C3627;
    margin: 10px 10px;
    border-style: groove;
    border-spacing: 2px;
    width: 200px;
    text-align: center;
}

main
{
    width: 400px;
    float: left;
    background-color: #2A4E6E;
    padding-left: 80px;
}
h1
{
    margin: 0 ;
    padding: 20px ;
    text-align: center;
}

table
{
    color: white;
    border-width: 3px;
    background-color: gray;
    margin: 0px 35px;
    border-style: solid;
    
}
table td
{
  border-style: solid;
  border-color: black;
  text-align: center;
}
#footer
{
    width: 960px;
    background-color: #2A4E6E;
    clear: left;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
form
{
    background-color: #4B6B74;
    float: right;
    width: 730px;
    border-style: groove;
}
h2
{
    text-align: center;
}