/*
Background color: #2A4E6E
Main text color: #B3A394
Nav/sidebar color: #0F414F
Nav/links text color: #D4BB6A
Table background color: #384C65
Table text color: #5399AB
*/

html, body 
{
    height: 100%;
}
#wrapper
{
    background-color: #2A4E6E;
}
#container
{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}
#header
{
    width: 100%;
}
a:link, a:visited
{
    color: #D4BB6A;
}

a:hover
{
    text-decoration: underline;
    color: #D2D28;
    background-color: #507D7F;
    font-weight: bold;
}
a:active
{
    color: red;
}
nav
{
    width: 200px;
    float: left;
    background-color: #0F414F;
    border-style: groove;
    border-spacing: 2px;
    overflow: hidden;
}
nav ul li a
{
  display: block;
  background-color: #0F414F;
  padding-left: 10px;
}
.active
{
    color: #D2D284;
    background-color: #507D7F;
}
ul
{
    list-style: none;
    display: block;
    padding: 3px;
}
#sidebar
{
    float: right;
    color: #787747;
    background-color: #0F414F;
    margin: 10px 10px;
    border-style: groove;
    border-spacing: 2px;
    width: 200px;
    text-align: center;
}
.present
{
    height: 220px;
}
main
{
    width: 400px;
    float: left;
    background-color: #2A4E6E;
    padding-left: 80px;
}
table
{
    color: #5399AB;
    background-color: #384C65;
    margin: 0px 35px;
    border: 1px outset #087884;
}
table td
{
  padding: 2px 3px 2px 2px;
  text-align: center;
}
table tr
{
    border-bottom: 1px solid #087884;
}
thead, tfoot
{
    font-weight: bold;
}
#footer
{
    width: 960px;
    background-color: #2A4E6E;
    clear: left;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
form
{
    background-color: #4B6B74;
    float: right;
    width: 730px;
    border-style: groove;
}
h1
{
    margin: 0 ;
    padding: 20px ;
    text-align: center;
    font-weight: 700;
   
    
}
h2
{
    text-align: center;
    
    
}
h3
{
    color: black;
    margin: 20px;
}
h5
{
    font-weight: bolder;
    font-size: 20px;
}
.right
{
    float: right;
}
.right:hover
{
    background-color:#2A4E6E;
}
.imglink:hover
{
    background-color:#2A4E6E;
}
.labb p
{
    color: #B3A394;
}    
div
{
    color: #B3A394;
    font-family: "Arial", Times, serif;
    font-size: medium;
}
.slink:hover
{
    background-color: #0F414F; 
}
#lab1:hover, #lab2:hover
{
    background-color: #2A4E6E;
}
#lab1:active, #lab2:active
{
    color: #B3A394;
}